@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply select-none bg-asilsa-cream text-museum-dark antialiased;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
[contenteditable="true"] {
  @apply select-text;
}

:focus:not(:focus-visible) {
  outline: none;
}
